## 1. Importações

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import random
%matplotlib inline

from typing import List, Dict, Tuple

path_to_dir = '../../raw/Cursos2024_dados_raw/'

df_cursos = pd.read_csv(f'{path_to_dir}dados_cursos2024.csv')
df_pesquisa = pd.read_csv(f'{path_to_dir}/dados_pesquisa_cursos2024.csv')
df_info_questionario = pd.read_csv(f'{path_to_dir}info_questionario_cursos2024.csv')
df_info_perguntas = pd.read_csv(f'{path_to_dir}info_perguntas_cursos2024.csv')
df_info_dimensoes = pd.read_csv(f'{path_to_dir}info_dimensoes_cursos2024.csv')

In [3]:
df_pesquisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24274 entries, 0 to 24273
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_PESQUISA       24274 non-null  int64
 1   ID_PERGUNTA       24274 non-null  int64
 2   ID_QUESTIONARIO   24274 non-null  int64
 3   QUESTIONARIO      24274 non-null  object
 4   PERGUNTA          24274 non-null  object
 5   RESPOSTA          24079 non-null  object
 6   SITUACAO          24274 non-null  object
 7   MULTIPLA_ESCOLHA  24274 non-null  object
 8   CURSO             24274 non-null  object
 9   COD_CURSO         24274 non-null  object
 10  SETOR_CURSO       24274 non-null  object
dtypes: int64(3), object(8)
memory usage: 2.0+ MB

In [4]:
df_pesquisa.head()

,ID_PESQUISA,ID_PERGUNTA,ID_QUESTIONARIO,QUESTIONARIO,PERGUNTA,RESPOSTA,SITUACAO,MULTIPLA_ESCOLHA,CURSO,COD_CURSO,SETOR_CURSO
0,32830,1942,604,"Políticas para o Ensino, a Pesquisa e a Extensão",O projeto pedagógico do curso promove a interd...,Concordo,Início respostas,Não,AGRONOMIA - PALOTINA,40001016004G0,SETOR PALOTINA
1,32830,1943,604,"Políticas para o Ensino, a Pesquisa e a Extensão",A organização do curso possibilita a formação ...,Concordo,Início respostas,Não,AGRONOMIA - PALOTINA,40001016004G0,SETOR PALOTINA
2,32830,1944,604,"Políticas para o Ensino, a Pesquisa e a Extensão",A organização do curso favorece a articulação ...,Concordo,Início respostas,Não,AGRONOMIA - PALOTINA,40001016004G0,SETOR PALOTINA
3,32830,1945,604,"Políticas para o Ensino, a Pesquisa e a Extensão",A flexibilidade curricular do curso promove au...,Concordo,Início respostas,Não,AGRONOMIA - PALOTINA,40001016004G0,SETOR PALOTINA
4,32830,1946,604,"Políticas para o Ensino, a Pesquisa e a Extensão",São efetivas as ações pedagógicas que fortalec...,Concordo,Início respostas,Não,AGRONOMIA - PALOTINA,40001016004G0,SETOR PALOTINA

In [5]:
df_pesquisa.isnull().sum()

ID_PESQUISA           0
ID_PERGUNTA           0
ID_QUESTIONARIO       0
QUESTIONARIO          0
PERGUNTA              0
RESPOSTA            195
SITUACAO              0
MULTIPLA_ESCOLHA      0
CURSO                 0
COD_CURSO             0
SETOR_CURSO           0
dtype: int64

temos valores nulos em resposta apenas

In [6]:
df_pesquisa[df_pesquisa["RESPOSTA"].isna()]

,ID_PESQUISA,ID_PERGUNTA,ID_QUESTIONARIO,QUESTIONARIO,PERGUNTA,RESPOSTA,SITUACAO,MULTIPLA_ESCOLHA,CURSO,COD_CURSO,SETOR_CURSO
44,32832,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,TERAPIA OCUPACIONAL,40001016112G0,SETOR DE CIÊNCIAS DA SAÚDE
67,32834,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,FILOSOFIA,40001016047G0,SETOR DE CIÊNCIAS HUMANAS
326,32875,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,FÍSICA,40001016049G0,SETOR DE CIÊNCIAS EXATAS
349,32876,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,CIÊNCIAS CONTÁBEIS,40001016006G0,SETOR DE CIÊNCIAS SOCIAIS E APLICADAS
416,32887,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,ENGENHARIA CIVIL,40001016030G0,SETOR DE TECNOLOGIA
...,...,...,...,...,...,...,...,...,...,...,...
23234,38246,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,FÍSICA,40001016049G0,SETOR DE CIÊNCIAS EXATAS
23361,38344,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,CIÊNCIAS BIOLÓGICAS,40001016012G0,SETOR DE CIÊNCIAS BIOLÓGICAS
23580,38476,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,MATEMÁTICA,40001016070G0,SETOR DE CIÊNCIAS EXATAS
24054,38601,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,ARTES - LITORAL,40001016125G0,SETOR LITORAL
24110,38620,1961,607,Considerações finais sobre a avaliação do curso,Espaço aberto para comentário (opcional).,NaN,Fim respostas,Não,TECNOLOGIA EM COMUNICAÇÃO INSTITUCIONAL,40001016100G0,SETOR DE EDUCAÇÃO PROFISSIONAL E TECNOLÓGICA

ou seja, esses valores nulos são perguntas opcionais que as pessoas não responderam

In [7]:
print(df_pesquisa[df_pesquisa["ID_QUESTIONARIO"]==607].shape[0])
print(df_pesquisa[df_pesquisa["ID_QUESTIONARIO"]== 607]["RESPOSTA"].isna().sum())

195
195

ou seja, ninguém respondeu a pergunta opcional, paia, podemos dropar essas linhas, apesar de que isso é uma informação importante

In [8]:
df_pesquisa.groupby("ID_PESQUISA")["RESPOSTA"].count().sort_values(ascending=False)

ID_PESQUISA
38565    22
38562    22
38559    22
38558    22
38557    22
         ..
33878     7
35537     5
33669     1
34086     1
36941     1
Name: RESPOSTA, Length: 1232, dtype: int64

In [9]:
df_pesquisa["CURSO"].unique()

array(['AGRONOMIA - PALOTINA', 'TERAPIA OCUPACIONAL', 'FILOSOFIA',
       'CIÊNCIAS AMBIENTAIS - LITORAL', 'LETRAS', 'MATEMÁTICA',
       'ESTATÍSTICA', 'FARMÁCIA', 'DIREITO', 'ENGENHARIA CIVIL',
       'ENGENHARIA FLORESTAL', 'FÍSICA', 'CIÊNCIAS CONTÁBEIS',
       'ENGENHARIA ELÉTRICA', 'QUÍMICA', 'AGRONOMIA ', 'CIÊNCIAS SOCIAIS',
       'NUTRIÇÃO', 'ARTES VISUAIS', 'CIÊNCIAS BIOLÓGICAS', 'ENFERMAGEM',
       'LICENCIATURA EM CIÊNCIAS EXATAS - JANDAIA',
       'TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS',
       'ADMINISTRAÇÃO', 'EXPRESSÃO GRÁFICA', 'PEDAGOGIA',
       'MEDICINA VETERINÁRIA', 'INFORMÁTICA BIOMÉDICA', 'EDUCAÇÃO FÍSICA',
       'ARQUITETURA E URBANISMO', 'PSICOLOGIA',
       'ENGENHARIA INDUSTRIAL MADEIREIRA', 'ZOOTECNIA',
       'ENGENHARIA MECÂNICA', 'TECNOLOGIA EM GESTÃO DA QUALIDADE',
       'PROGRAD', 'MATEMÁTICA INDUSTRIAL', 'ODONTOLOGIA', 'FISIOTERAPIA',
       'PRODUÇÃO CULTURAL', 'ENGENHARIA AMBIENTAL',
       'ENGENHARIA CARTOGRÁFICA E DE AGRIMENSURA', 'ENGENHARIA QUÍMICA',
       'DESIGN GRÁFICO', 'SERVIÇO SOCIAL - LITORAL', 'MÚSICA',
       'GEOGRAFIA', 'TECNOLOGIA EM SECRETARIADO',
       'ENGENHARIA DE AQUICULTURA - PALOTINA', 'GEOGRAFIA - LITORAL',
       'HISTÓRIA', 'ENGENHARIA AMBIENTAL E SANITÁRIA - PONTAL DO PARANÁ',
       'DESIGN DE PRODUTO', 'CIÊNCIAS ECONÔMICAS',
       'ENGENHARIA DE BIOPROCESSOS E BIOTECNOLOGIA',
       'GESTÃO DA INFORMAÇÃO', 'ENGENHARIA CIVIL - PONTAL DO PARANÁ',
       'ENGENHARIA DE PRODUÇÃO - JANDAIA', 'RELAÇÕES PÚBLICAS',
       'TECNOLOGIA EM NEGÓCIOS IMOBILIÁRIOS', 'ARTES - LITORAL',
       'TURISMO', 'HISTÓRIA - MEMÓRIA E IMAGEM', 'OCEANOGRAFIA',
       'CIÊNCIAS BIOLÓGICAS - PALOTINA', 'BIOMEDICINA',
       'GESTÃO DE TURISMO - LITORAL', 'MEDICINA VETERINÁRIA - PALOTINA',
       'TECNOLOGIA EM LUTERIA', 'ENGENHARIA DE PRODUÇÃO',
       'LINGUAGEM E COMUNICAÇÃO - LITORAL',
       'ENGENHARIA DE BIOPROCESSOS E BIOTECNOLOGIA - PALOTINA',
       'GEOLOGIA', 'ENGENHARIA DE AQUICULTURA - PONTAL DO PARANÁ',
       'ADMINISTRAÇÃO PÚBLICA - LITORAL', 'ENGENHARIA AGRÍCOLA - JANDAIA',
       'PUBLICIDADE E PROPAGANDA',
       'LICENCIATURA EM CIÊNCIAS EXATAS - PALOTINA',
       'ENGENHARIA DE ALIMENTOS - JANDAIA',
       'TECNOLOGIA EM COMUNICAÇÃO INSTITUCIONAL', 'CIÊNCIAS - LITORAL',
       'CIÊNCIA DA COMPUTAÇÃO', 'AGROECOLOGIA - LITORAL',
       'ENGENHARIA DE ENERGIA',
       'TÉCNICO EM PETRÓLEO E GÁS INTEGRADO AO ENSINO MÉDIO',
       'TECNOLOGIA EM GESTÃO PÚBLICA',
       'LICENCIATURA EM CIÊNCIAS EXATAS - PONTAL DO PARANÁ',
       'GESTÃO E EMPREENDEDORISMO - LITORAL', 'JORNALISMO',
       'EDUCAÇÃO DO CAMPO - LITORAL', 'COMPUTAÇÃO - PALOTINA',
       'TECNOLOGIA EM PRODUÇÃO CÊNICA'], dtype=object)

In [10]:
len(df_pesquisa["CURSO"].unique())

92

In [11]:
df_pesquisa["CURSO"] = df_pesquisa["CURSO"].str.strip().str.split(" - ").str[0]

In [12]:
df_pesquisa["CURSO"].unique()

array(['AGRONOMIA', 'TERAPIA OCUPACIONAL', 'FILOSOFIA',
       'CIÊNCIAS AMBIENTAIS', 'LETRAS', 'MATEMÁTICA', 'ESTATÍSTICA',
       'FARMÁCIA', 'DIREITO', 'ENGENHARIA CIVIL', 'ENGENHARIA FLORESTAL',
       'FÍSICA', 'CIÊNCIAS CONTÁBEIS', 'ENGENHARIA ELÉTRICA', 'QUÍMICA',
       'CIÊNCIAS SOCIAIS', 'NUTRIÇÃO', 'ARTES VISUAIS',
       'CIÊNCIAS BIOLÓGICAS', 'ENFERMAGEM',
       'LICENCIATURA EM CIÊNCIAS EXATAS',
       'TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS',
       'ADMINISTRAÇÃO', 'EXPRESSÃO GRÁFICA', 'PEDAGOGIA',
       'MEDICINA VETERINÁRIA', 'INFORMÁTICA BIOMÉDICA', 'EDUCAÇÃO FÍSICA',
       'ARQUITETURA E URBANISMO', 'PSICOLOGIA',
       'ENGENHARIA INDUSTRIAL MADEIREIRA', 'ZOOTECNIA',
       'ENGENHARIA MECÂNICA', 'TECNOLOGIA EM GESTÃO DA QUALIDADE',
       'PROGRAD', 'MATEMÁTICA INDUSTRIAL', 'ODONTOLOGIA', 'FISIOTERAPIA',
       'PRODUÇÃO CULTURAL', 'ENGENHARIA AMBIENTAL',
       'ENGENHARIA CARTOGRÁFICA E DE AGRIMENSURA', 'ENGENHARIA QUÍMICA',
       'DESIGN GRÁFICO', 'SERVIÇO SOCIAL', 'MÚSICA', 'GEOGRAFIA',
       'TECNOLOGIA EM SECRETARIADO', 'ENGENHARIA DE AQUICULTURA',
       'HISTÓRIA', 'ENGENHARIA AMBIENTAL E SANITÁRIA',
       'DESIGN DE PRODUTO', 'CIÊNCIAS ECONÔMICAS',
       'ENGENHARIA DE BIOPROCESSOS E BIOTECNOLOGIA',
       'GESTÃO DA INFORMAÇÃO', 'ENGENHARIA DE PRODUÇÃO',
       'RELAÇÕES PÚBLICAS', 'TECNOLOGIA EM NEGÓCIOS IMOBILIÁRIOS',
       'ARTES', 'TURISMO', 'OCEANOGRAFIA', 'BIOMEDICINA',
       'GESTÃO DE TURISMO', 'TECNOLOGIA EM LUTERIA',
       'LINGUAGEM E COMUNICAÇÃO', 'GEOLOGIA', 'ADMINISTRAÇÃO PÚBLICA',
       'ENGENHARIA AGRÍCOLA', 'PUBLICIDADE E PROPAGANDA',
       'ENGENHARIA DE ALIMENTOS',
       'TECNOLOGIA EM COMUNICAÇÃO INSTITUCIONAL', 'CIÊNCIAS',
       'CIÊNCIA DA COMPUTAÇÃO', 'AGROECOLOGIA', 'ENGENHARIA DE ENERGIA',
       'TÉCNICO EM PETRÓLEO E GÁS INTEGRADO AO ENSINO MÉDIO',
       'TECNOLOGIA EM GESTÃO PÚBLICA', 'GESTÃO E EMPREENDEDORISMO',
       'JORNALISMO', 'EDUCAÇÃO DO CAMPO', 'COMPUTAÇÃO',
       'TECNOLOGIA EM PRODUÇÃO CÊNICA'], dtype=object)

In [13]:
len(df_pesquisa["CURSO"].unique())

81

Sendo assim, o nome dos cursos também está normalizado

In [14]:
df_pesquisa["RESPOSTA"].unique()

array(['Concordo', 'Discordo', 'Desconheço', nan], dtype=object)

In [15]:
df_pesquisa["RESPOSTA"].dropna().unique()

array(['Concordo', 'Discordo', 'Desconheço'], dtype=object)

In [16]:
print(len(df_pesquisa["RESPOSTA"]))
print(len(df_pesquisa["RESPOSTA"].dropna()))

24274
24079

In [17]:
df = df_pesquisa.dropna().reset_index(drop=True)

In [18]:
df.isnull().sum()

ID_PESQUISA         0
ID_PERGUNTA         0
ID_QUESTIONARIO     0
QUESTIONARIO        0
PERGUNTA            0
RESPOSTA            0
SITUACAO            0
MULTIPLA_ESCOLHA    0
CURSO               0
COD_CURSO           0
SETOR_CURSO         0
dtype: int64

dropei as linhas com valores NaN, que no caso, eram apenas as perguntas opcionais que ninguém respondeu

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24079 entries, 0 to 24078
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_PESQUISA       24079 non-null  int64
 1   ID_PERGUNTA       24079 non-null  int64
 2   ID_QUESTIONARIO   24079 non-null  int64
 3   QUESTIONARIO      24079 non-null  object
 4   PERGUNTA          24079 non-null  object
 5   RESPOSTA          24079 non-null  object
 6   SITUACAO          24079 non-null  object
 7   MULTIPLA_ESCOLHA  24079 non-null  object
 8   CURSO             24079 non-null  object
 9   COD_CURSO         24079 non-null  object
 10  SETOR_CURSO       24079 non-null  object
dtypes: int64(3), object(8)
memory usage: 2.0+ MB

In [20]:
df["ID_QUESTIONARIO"].unique()

array([604, 605, 606])

In [21]:
len(df["ID_QUESTIONARIO"].unique())

3

In [22]:
df.groupby("ID_QUESTIONARIO")["RESPOSTA"].count().sort_values(ascending=False)

ID_QUESTIONARIO
604    13334
605     5971
606     4774
Name: RESPOSTA, dtype: int64

In [23]:
len(df[df["RESPOSTA"]=="Desconheço"])

4762

## 2. Merge

In [24]:
# Pega apenas o nome do curso de fato
df['CURSO'] = df['CURSO'].apply(lambda x: x.split('-')[0].strip())

# DropDuplicates se tiver
print(f'Shape before: {df.shape}')
df = df.drop_duplicates()
print(f'Shape after: {df.shape}')

Shape before: (24079, 11)
Shape after: (24079, 11)

In [25]:
cols_pesquisa = df_pesquisa.columns
cols_cursos = df_cursos.columns

diff_cols_pesquisa_cursos = cols_cursos.difference(cols_pesquisa)
print(diff_cols_pesquisa_cursos)

Index([], dtype='object')

In [26]:
if len(diff_cols_pesquisa_cursos) > 0:
    print(f'Shape before 2° merge: {df_pesquisa.shape}')
    df_pesquisa = pd.merge(
        left=df_cursos[['CURSO','SETOR_CURSO']],
        right=df_pesquisa,
        on='CURSO',
        how='left'
    )
    print(f'Shape after 2° merge: {df_pesquisa.shape}')
    df_pesquisa = df_pesquisa.dropna()
    print(f'Shape after dropna: {df_pesquisa.shape}')

In [27]:
df_merged_perguntas_dimensoes = pd.merge(
    left=df_info_perguntas.rename(columns={'Tipo_Pergunta':'Tipo_Perg'}),
    right=df_info_dimensoes[['Tipo_Perg','EIXO','DIMENSAO']],
    on='Tipo_Perg',
    how='left')

In [28]:
print(df_merged_perguntas_dimensoes.columns.difference(df_pesquisa.columns))

Index(['CL_PERGUNTA', 'DIMENSAO', 'EIXO', 'Ordem', 'Tipo_Perg'], dtype='object')

In [29]:
if 'Ordem' not in df_pesquisa.columns:
    print('Shape Before: ', df_pesquisa.shape)
    df_pesquisa = pd.merge(
        left=df_pesquisa,
        right=df_merged_perguntas_dimensoes[['ID_PERGUNTA','CL_PERGUNTA', 'DIMENSAO', 'EIXO', 'Ordem', 'Tipo_Perg']],
        on='ID_PERGUNTA',
        how='left')
    print('Shape After: ', df_pesquisa.shape)

Shape Before:  (24274, 11)
Shape After:  (24274, 16)

## 3. Exportação

In [30]:
def process(df: pd.DataFrame, axis: list[int] | None = None, dimensions: list[int] | None = None, questions: list[str] | None = None) -> pd.DataFrame:
    
        if axis is None or axis == []:
              axis = df['EIXO'].unique().tolist()
            
        if dimensions is None or dimensions == []:
            dimensions = df['DIMENSAO'].unique().tolist()

        mask_axis = df['EIXO'].isin(axis)
        mask_dim = df['DIMENSAO'].isin(dimensions)

        df_filtered = df[mask_axis & mask_dim]

        if questions is not None:
            df_filtered = df_filtered[df_filtered['PERGUNTA'].isin(questions)]

        return df_filtered

In [31]:
df_final = process(df_pesquisa,axis=[],dimensions=[])

In [32]:
ordem_atual = df_final.columns
print('Ordem Atual: ',ordem_atual.tolist())

nova_ordem = ['EIXO','DIMENSAO','ID_PESQUISA', 'ID_PERGUNTA', 'ID_QUESTIONARIO', 'QUESTIONARIO', 'PERGUNTA', 'RESPOSTA', 'SITUACAO', 'MULTIPLA_ESCOLHA', 'CURSO', 'COD_CURSO', 'SETOR_CURSO', 'CL_PERGUNTA', 'Ordem', 'Tipo_Perg']

df_final = df_final[nova_ordem]

Ordem Atual:  ['ID_PESQUISA', 'ID_PERGUNTA', 'ID_QUESTIONARIO', 'QUESTIONARIO', 'PERGUNTA', 'RESPOSTA', 'SITUACAO', 'MULTIPLA_ESCOLHA', 'CURSO', 'COD_CURSO', 'SETOR_CURSO', 'CL_PERGUNTA', 'DIMENSAO', 'EIXO', 'Ordem', 'Tipo_Perg']

In [33]:
df_final['VALOR_RESPOSTA'] = [1 if i in ['Concordo','Sim'] else 0 if i == 'Desconheço' else -1 for i in df_final['RESPOSTA']]

In [34]:
df_final.to_csv('processed_cursos_2024.csv',index=False)