## 1. Importação

In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from typing import List, Dict, Tuple

path_to_dir = '../../raw/Presencial2025_dados_raw/'

df_presencial_cursos = pd.read_csv(f'{path_to_dir}dados_presencial_cursos.csv')
df_presencial_disciplinas = pd.read_csv(f'{path_to_dir}dados_presencial_disciplinas.csv')

df_info_questionario = pd.read_csv(f'{path_to_dir}info_questionario_presencial.csv')
df_info_perguntas = pd.read_csv(f'{path_to_dir}info_perguntas_presencial.csv')
df_info_dimensoes = pd.read_csv(f'{path_to_dir}info_dimensoes_presencial.csv')

## 2. Entendendo cada DataFrame

### 2.1 `df_presencial_cursos`

* `COD_CURSO`
* `CURSO` : Necessita de split (CURSO,PERIODO,LOCALIDADE)
* `SETOR_CURSO`

In [ ]:
df_presencial_cursos['TEMP'] = df_presencial_cursos['CURSO'].str.split('-')

In [ ]:



df_presencial_cursos['LOCALIDADE'] = df_presencial_cursos['TEMP'].str[1]
df_presencial_cursos['PERIODO'] = df_presencial_cursos['TEMP'].str[2]
df_presencial_cursos['CURSO'] = df_presencial_cursos['TEMP'].str[0]

#df_presencial_cursos.drop(columns=['TEMP'], inplace=True)
df_presencial_cursos.head()

,COD_CURSO,CURSO,SETOR_CURSO,TEMP,LOCALIDADE,PERIODO
0,40001016027G0,ENGENHARIA AMBIENTAL E SANITÁRIA,CENTRO DE ESTUDOS DO MAR,[ENGENHARIA AMBIENTAL E SANITÁRIA ],NaN,NaN
1,40001016047G0,FILOSOFIA,SETOR DE CIÊNCIAS HUMANAS,[FILOSOFIA ],NaN,NaN
2,40001016030G0,ENGENHARIA CIVIL,SETOR DE TECNOLOGIA,[ENGENHARIA CIVIL ],NaN,NaN
3,40001016005G0,ARQUITETURA E URBANISMO,SETOR DE TECNOLOGIA,[ARQUITETURA E URBANISMO ],NaN,NaN
4,40001016076G0,MEDICINA VETERINÁRIA,SETOR DE CIÊNCIAS AGRÁRIAS,[MEDICINA VETERINÁRIA ],NaN,NaN

### 2.2 `df_presencial_disciplinas`

### 2.3 `df_info_questionario`

### 2.4 `df_info_perguntas`

### 2.5 `df_info_dimensoes`